* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(99, 217, 253);
    overflow-x: hidden;
}
/* Side navigation links */
.sidenav a {
    color: rgb(239, 244, 245);
    padding: 16px;
    text-decoration: none;
    display: block;
}
/* Change color on hover */
.sidenav a:hover {
    background-color: rgb(206, 232, 243);
    color: black;
}
/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}